

<h2 class="title"><%=l(:label_custom_field_plural)%></h2>

<%= render_tabs custom_fields_tabs %>
<% html_title(l(:label_custom_field_plural)) -%>
<p><a id='link_new_custom_field' class="icon icon-add" href="custom_fields/new?type=IssueCustomField">New custom field</a></p>
