
  <% if @conversations.present? %>
    <ul>
      <% for @conversation in @conversations %>
      <% if User.current.id==@conversation.user.id %>
        <li class="ownComment">
      <% else %>
        <li>
      <% end %>
        <span>
          <% if User.current.id==@conversation.user.id %>
          You:
          <% else %>
          <%= @conversation.user.name %>:
          <% end %>
          
          <%= @conversation.comment %>
          <% if User.current.id==@conversation.user.id %>  
            <%= link_to(image_tag('delchat.png'), "javascript:void(0)", :class=> "", :onclick => "deleteConversation('#{document_path(@document.id)}/delete_conversation', '#{@conversation.id}', '#{@document.id}')") %>
          <% end %>
        </span>
        </li>
      <% end %>
    </ul>  
  <% else %>
    <ul><li>No conversations right now.</li></ul>  
  <% end %>
