<% if User.current.allowed_to?(:close_project, @project) && @project.id != @general_activity_project.id%>
<div id="addDeleteSprintDiv">
  <ul>
    <li>
       <%= link_to(" ", new_project_version_path(@project), :class => 'addSprint', :title => "Add Sprint", :project=>@project) if User.current.allowed_to?(:manage_versions, @project) %>
    </li>
    <li>
      <% if @project.active? %>
        <%= link_to " ", close_project_path(@project), :data => {:confirm => l(:text_are_you_sure)}, :class => "deleteSprint", :title =>"Close the project",  :method => :post %>
      <% else %>
        <%= link_to " ", reopen_project_path(@project), :data => {:confirm => l(:text_are_you_sure)},:class => "deleteSprint",:title =>"Re-open the project",  :method => :post %>
      <% end %>
            
    </li>
  </ul>
</div>
<% end %>