<%#= link_to(h(@message), "#") %>
<p><%= "Time entry of (#{@hours}) hours #{@issue_subject} in project - #{@project_name} has been rejected by manager" %></p>
<p>Please contact your reporting manager.</p>

